@import 'variables/variables.styl';

.menu {
	// position relative
	
	&-wrapper {

	}
	
	&-list {
		&__item {
			display block
			text-align center
			
			&-link {
				display inline-block
				width 100%
				height 100%
			}
		}
	}
}