@import 'variables/variables.styl';

* {
	box-sizing border-box
	outline none
}

body, html {
	margin 0
	padding 0
	font-size $fontSize
	background $colorDarklessPoint
	color $colorLightPoint
}

html {
	height 100%
}

ul, li, ol {
	margin 0
	padding 0
	list-style none
}
h1, h2, h3, h4, h5, h6 {
	margin 0
	padding 0
	font-family $thirdFont
	word-break break-word
}

h4 {
	color red /*just for view for a while*/
}

span {
	// font-family $secondFont
	font-weight 400
}

a, a:visited {
	color $secondaryColor
	text-decoration none
}