//fonts
$mainFont = 'Roboto';
$secondFont = 'Dosis';
$thirdFont = 'Titillium Web';

$fontSize = 16px;

/*colors*/
$colorLightPoint = rgba(255, 255, 255, 1);
$colorDarkPoint = rgba(0, 0, 0, 1);
$colorDarklessPoint = rgba(48, 48, 48, 1);
// rgba(69, 102, 101, 1)

$mainColor = rgba(140, 255, 250, 1);
$secondaryColor = rgba(56, 204, 114, 1);
$warmColor = rgba(210, 110, 141, 1);
$dangerColor = rgba(255, 44, 215, 1);
