@import './styles/variables/variables';
@import './styles/reset.styl';
@import './styles/App.styl';
@import './styles/Header.styl';
@import './styles/Menu.styl';
@import './styles/MoviesList.styl';
@import './styles/Movie.styl';
@import './styles/Genres.styl';
@import './styles/Person.styl';
@import './styles/Single.styl';
@import './styles/Sidebar.styl';
@import './styles/Slider.styl';
@import './styles/Pagination.styl';
